<h1>Edit Product</h1>

<%= form_with model: @product do |f| %>
	<div>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>	

	<div>
		<%= f.label :code %><br>
		<%= f.text_field :code %>
	</div>	

	<div>
		<%= f.label :price %><br>
		<%= f.text_field :price %>
	</div>

	<div>
	<%= image_tag "https://carrefourbr.vtexassets.com/arquivos/ids/6635173/MP19137704_Bicicleta-Aro-26-Aero-21-Marchas-Velox-Branca---Ello-Bike_1_Zoom.jpg?v=637345946087200000" %>
	<div>
		<%= f.submit %>
	</div>
<% end %>

<%= link_to "Voltar", product_path %>
<%= link_to "Atualizar", products_path %>


	