<h1>New Product</h1>

<%= form_with model: @product do |f| %>
	<div>
		<%= f.label :name %><br>
			<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :code %><br>
			<%= f.text_field :code %>
	</div>
	<div>
		<%= f.label :price %><br>
			<%= f.number_field  :price,  min: 0, step: 0.1 %>
	</div>
	<div>
		<%= f.label :img_url %><br>
			<%= f.text_field :img_url %>
	</div>
	<div>
		<%= f.submit %>
	</div>
	<% end %>

	<p>
		<%= link_to "Voltar", products_path %>
	</p>
