<h1>Exibir Produtos</h1>

<p>
	<strong>Nome:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Código:</strong>
	<%= @product.code %>
</p>

<p>
	<strong>Preço:</strong>
	<%= @product.price %>
</p>

<p>
	<strong>URL:</strong>
	<%= @product.img_url %>
</p>

<%= link_to "Voltar", products_path %>
<%= link_to "Editar", edit_product_path(@product)%>
<%= link_to "Deletar", product_path, method: :delete, data: { confirm: "Tem certeza?" } %>
