<h1>Show Products</h1>

<p>
	<strong>Nome:</strong>
	<%= @product.name %>
</p>

<p>
	<strong>Código:</strong>
	<%= @product.code %>
</p>

<p>
	<strong>Preço:</strong>
	<%= @product.price %>
</p>

<p>
	<%= image_tag "https://carrefourbr.vtexassets.com/arquivos/ids/6635173/MP19137704_Bicicleta-Aro-26-Aero-21-Marchas-Velox-Branca---Ello-Bike_1_Zoom.jpg?v=637345946087200000" %>
</p>


<%= link_to "Voltar", products_path %>
<%= link_to "Editar", edit_product_path%>
<%= link_to "Deletar", product_path, method: :delete, data: { confirm: "Tem certeza?" } %>